/* Corporate.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body.corporate-page {
  font-family: 'Arial', sans-serif;
  background-image: url("corpgiff.gif"); /* Replace with your background image URL */
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.corporate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.corporate-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: left;
  line-height: 1.6;
  border: 2px solid #bfbc0c;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.corporate-content h1 {
  color: #e1c702;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.corporate-content h2 {
  color: #f01717;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.corporate-content h3 {
  color: #f01717;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.corporate-content p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}

.corporate-content ol {
  color: #bfbc0c;
  margin-bottom: 20px;
  padding-left: 20px;
  text-shadow: 0 0 5px #f01717, 0 0 10px #f01717;
}

.corporate-content ol li {
  margin-bottom: 10px;
  text-shadow: 0 0 5px #f01717, 0 0 10px #f01717;
}

.mute-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .corporate-content {
    padding: 20px;
  }

  .corporate-content h1 {
    font-size: 30px;
  }

  .corporate-content h2 {
    font-size: 24px;
  }

  .corporate-content h3 {
    font-size: 20px;
  }

  .corporate-content p {
    font-size: 14px;
  }

  .corporate-content ol li {
    font-size: 14px;
  }
}
